<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-cons">公会</h1>
    <div class="box02 canvas_int">
	    <div class="tab tab01">
        <div class="icon">
          <%= link_to "新建工会", new_guild_url, :class => "icon-add-table" %>
        </div>
		    <ul>
			    <li><span><%= link_to "热门工会", hot_guilds_url %></span></li>
			    <li><span><%= link_to "我的工会", guilds_url(:id => current_user.id) %></span></li>
			    <li class='hover'><span><%= link_to "好友工会", friends_guilds_url %></span></li>
		    </ul>
      </div>
	    <div class="piclist-rows">
        <% if @guilds.total_entries != 0 %>
          <%= render :partial => 'user/guilds/guild_items', :object => @guilds %>
        <% else %>
          <div class='gray'>你好友最近都死光了，报告完毕</div>
        <% end %> 
      </div>
    </div>
  </div></div>
</div></div></div></div>
