<div class="rows s_clear"></div>
<div class="tab tab01">
  <ul>
    <li class="hover"><span><%= link_to "其他赏罚", event_summary_url(@event, :step => 4) %></span></li>
  </ul>
</div>
<div class="appcontent01 formcontent">
  <div class="rows s_clear">
    <div class="fldid">选择接受额外赏罚的角色</div>
    <div class="fldvalue">
      <div class="selector" style="width:200px">
        <%= link_to_function '', :onclick => "Iyxzone.Event.Summary.Reward.selectCharacters();" %>
        <input />
        <div id="friend-wrap" class="drop-wrap" style="display:none"> 
          <iframe src="" frameborder="0"></iframe>
          <div class="wrap-bg"></div>
          <div class="con">
            <div class="head s_clear">
              <h4 class="left"><span>选择接受赏罚的角色</span></h4>
            </div>
            <ul class="checkboxes rows s_clear">
              <% @participants.each do |p| %>
                <li><span><%= check_box_tag '', 1, false, :character_id => p.id %><%= "#{p.user.login}-#{p.name}" %></span></li>
              <% end %>
            </ul>
            <div class="foot rows">
              <span class="button"><span><%= button_to_function "确定", "Iyxzone.Event.Summary.Reward.addCharacters()" %></span></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  
  <table class="act-member-list space" cellpadding="0" cellspacing="0" width="100%">
    <thead>
      <tr>
        <td class="tl" style="border-right:0;">会员列表</td>
        <td style="border-left:0;border-right:0;width:300px;text-align:center;">规定</td>
        <td style="border-left:0;width:100px">分值</td>
        <td style="border-left:0;width:100px"></td>
      </tr>
    </thead>
    <tbody id='rewards'>
      <%= render :partial => 'reward_info', :locals => {:rewards => session[:event_summary][:rewards]} %>
    </tbody>
    <tbody>
      <tr>
        <td>
          <div class="textfield" id='new_rule'><input value="点击添加新的规则" onclick="Iyxzone.Event.Summary.Reward.newRule()" /></div>
        </td>
        <td>
          <div id='new_rule_reason' style="display:none">
            <div class='textfield'><%= text_field_tag 'rule[reason]', '', :onclick => "this.clear()" %></div>
          </div>
        </td>
        <td>
          <div id='new_rule_outcome' style='display:none'>
            <div class='textfield' style="width: 80px; margin: 0 auto;"><%= text_field_tag 'rule[outcome]', '', :onclick => "this.clear()" %></div>
          </div>
        </td>
        <td>
          <div id='new_rule_submit' style='display:none'>
            <%= button_to_function '创建', "Iyxzone.Event.Summary.Reward.createRule(this)" %>
            <%= link_to_function '取消', "Iyxzone.Event.Summary.Reward.cancelRule(this)" %>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <td colspan="3">
        <span class="button w-l"><span><button type="submit" onclick="Iyxzone.Event.Summary.Reward.prev()">上一步</button></span></span>
        <span class="button w-l"><span><button type="submit" onclick="Iyxzone.Event.Summary.Reward.next()">下一步</button></span></span>
      </td>
    </tfoot>
  </table>
</div>

<% if @character_ids.blank? %>
<%= javascript_tag "
  Iyxzone.Event.Summary.Reward.load(#{@event.id}, #{@event.guild_id}, '#{form_authenticity_token}', [], []);
  Iyxzone.Event.Summary.Reward.reset(); 
" %>
<% else %>
<%= javascript_tag "
  Iyxzone.Event.Summary.Reward.load(#{@event.id}, #{@event.guild_id}, '#{form_authenticity_token}', #{array_or_string_for_javascript @character_ids}, #{array_or_string_for_javascript @rule_ids});
  Iyxzone.Event.Summary.Reward.reset(); 
" %>
<% end %>
