<div class='impress-show s_clear space' id='tag_cloud'> 
<% if profile.tags.blank? %>
	还没有好友进行评价
<% else %>
<ul class='holder' style="border:0px">
	<% tag_cloud profile, %w(css1 css2 css3 css4) do |tag, css_class| %>
		<% if @user == current_user %>
			<li class='bit-box' id='tag_<%= tag.id %>'><a class="impress-<%=rand(4)%>"><span class='<%= css_class %>'><%= tag.name %></span><%= link_to_remote '', :url => profile_tag_url(profile, tag), :method => :delete, :html => {:class => 'icon2-close'} %></a>
		<% else %>
			<li class='bit-box' id='tag_<%= tag.id %>'><a class="impress-<%=rand(4)%>"><span class='<%= css_class %>'><%= tag.name %></span></a>
		<% end %>
		</li>
	<% end %>
</ul>
<% end %>
</div>
