<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
  <div class='blog-right-bar'>
    <div class='part'>
      <h3>日志分类: </h3>
      <% game_options = [['全部', nil]] %>
      <% current_user.games.each {|g| game_options << [g.name, g.id] } %>
      <%= select_tag '', options_for_select(game_options, params[:game_id].to_i), :onchange => "window.location.href = '#{hot_blogs_url(:id => current_user.id)}&game_id='+this.value;" %> 
    </div>
  </div>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-log">日志</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right"><%= link_to "写新日志", new_blog_url %></div>
        <ul>
          <li><span><%= link_to "热门日志", hot_blogs_url(:id => current_user.id) %></a></span></li>
          <li><span><%= link_to "我的日志", blogs_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "与我相关的日志", relative_blogs_url(:id => current_user.id) %></span></li>
          <li class='hover'><span><%= link_to "好友日志", friends_blogs_url %></span></li>
          <li><span><%= link_to "草稿箱", drafts_url %></span></li>
        </ul>
      </div>
      <div class="feed-box01">
        <% if @blogs.total_entries != 0 %>
        <div class="page">共<%= @blogs.total_entries %>篇</div>
        <%= render :partial => 'blog_item2', :collection => @blogs %>
        <%= will_paginate @blogs %>
        <% else %>
        <div class='page'>你的朋友都是2比，没人写</div>
        <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
