<% content_for :left do %>
  <%= render :partial => '/app_menu' %><br/>
  <div class='blog-right-bar'>
    <div class='part'>
      <h3>日志分类: </h3>
      <% game_options = [['全部', nil]] %>
      <% @user.games.each {|g| game_options << [g.name, g.id] } %>
      <%= select_tag '', options_for_select(game_options, params[:game_id].to_i), :onchange => "window.location.href = '#{hot_blogs_url(:id => @user.id)}&game_id='+this.value;" %> 
    </div>
  </div>
<% end %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	<% if @user==current_user %>
    <h1 class="app-log">日志</h1>
	<% else %>
    <div class="friend-head space s_clear">
      <span class="left"><%= avatar @user, :class=>"imgbox01"%></span>
      <p class="left">
        <strong><%= @user.login %>的日志</strong><br />
        <%= link_to '个人主页', profile_url(@user.profile), :class=>'red'%>
      </p>
    </div>
	<% end %>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right"><%= link_to "写新日志", new_blog_url %></div>
        <ul>
          <% subject = get_subject @user %>
          <li><span><%= link_to "热门日志", hot_blogs_url(:id => @user.id) %></a></span></li>
          <li class='hover'><span><%= link_to "#{subject}的日志", blogs_url(:id => @user.id) %></span></li>
          <li><span><%= link_to "与#{subject}相关的日志", relative_blogs_url(:id => @user.id) %></span></li>
        <% if @user == current_user %>
          <li><span><%= link_to "好友日志", friends_blogs_url %></span></li>
          <li><span><%= link_to "草稿箱", drafts_url %></span></li>
        <% end %>
        </ul>
      </div>
      <div class="appcontent05">
        <div class="myblog">
        <% if @user.blogs_count == 0 %>
          <% if @user == current_user %>
          <h4 class='gray'>你还没有日志，赶紧<%= link_to '写一篇', new_blog_url %>?</h4>
          <% else %>
          <h4 class='gray'><%= subject %>还没写日志，是个懒虫</h4>
          <% end %>
        <% else %>
          <h4 class="gray">共<%= @user.blogs_count %>篇日志</h4>
          <div class="myblog-table">
            <table cellpadding="0">
              <%= render :partial => 'blog_item', :collection => @blogs %>
            </table>
          </div>
          <%= will_paginate @blogs %>
        <% end %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>
