<%= javascript_include_tag 'mail' %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
	<h1 class="big-letter">站内信</h1>
  <div class="box02 canvas_int">
		<div class="tab tab01">
    <ul>
			<li class="hover"><span><%= link_to "收件箱", mails_url(:type => 1) %></span></li>
      <li><span><%= link_to "发件箱", mails_url(:type => 0) %></span></li>
      <li class="nobg"><%= link_to "写站内信", new_mail_url %></li>
		</ul>
  </div>
  <div class="inbox-box">
    <div class="inbox-topbar formcontent s_clear">
      <div class="fldid"><label for="status">选择：</label></div>
      <div class="fldvalue">
        <%= mail_select_tag %>
      </div>
      <div class="fldvalue">
        <%= link_to_function "标记已读", "Iyxzone.Mail.Manager.read('#{form_authenticity_token}')" %>
        <%= link_to_function "标记未读", "Iyxzone.Mail.Manager.unread('#{form_authenticity_token}')" %>
        <%= link_to_function "删除", "Iyxzone.Mail.Manager.destroy('#{form_authenticity_token}', 1)" %>
      </div>
      <div class="right">
        <%= current_user.unread_recv_mails.count %>封未读/共<%= current_user.recv_mails.count %>封
      </div>
    </div>
    <div class="inbox-content">
			<div class="box02 index-list">
				<table cellpadding="0">
					<% @mails.each do |mail| %>
					<tr>
						<td class="status">
							<%= check_box_tag '', 1, false, :mail_id => mail.id, :id => "mail_#{mail.id}_select", :read => mail.read_by_recipient, :class => 'mail-check' %>
						</td>
            <td class="photo"><%= avatar mail.sender %></td>
            <td class="data">
							<h3><%= profile_link mail.sender %></h3>
              <p><%= ftime mail.created_at %></p>
						</td>
            <td class="cont">
							<%= mail_link mail %>
              <p><%= truncate mail.content, 80 %></p>
            </td>
            <td class="end">
							<%= facebox_confirm '', mail_url(mail, :type => 1), {:msg => '你确定要删除这个邮件吗?', :method => :delete}, {:class => 'icon-active'} %>
            </td>
          </tr>
					<% end %>
        </table>
      </div>
    </div>
  </div>
  <div id='info'></div>
</div>
</div></div>
</div></div></div></div>
