<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
	<h1 class="big-letter">站内信</h1>
  <div class="box02 canvas_int">
		<div class="tab tab01">
    <ul>
			<li><span><%= link_to "收件箱", mails_url(:type => 1) %></span></li>
      <li><span><%= link_to "发件箱", mails_url(:type => 0) %></span></li>
      <li class="nobg"><%= link_to "写站内信", new_mail_url %></li>
		</ul>
  </div>

<div class='feed-box01 list-msg'>
    <div class='list-msg-head'>
      <h4><%= @root_mail.title %></h4>
      参与者: <span class='red'><%= profile_link @root_mail.sender %></span> 和<%= profile_link @root_mail.recipient %>
		</div>
<table class='mails' id='mails' width='100%'>
  <%= render :partial => 'mail', :collection => @root_mail.children %>
</table>
    <div class="bookbox space">
			<div class="formcontent s_clear">
      <% form_remote_tag :url => reply_mail_url(@mail, :type => params[:type]) do |f| %> 
        <h3><%= label_tag '回复:' %></h3>
        <div class='rows'><div class='textarea-wrap'><%= text_area_tag 'mail[content]', '', :class=>'textarea'%></div></div>
        <div class="buttons">
           <span class="button"><span><button type="submit">发布</button></span></span>
           <%= emotion_link 'mail_content', :class => 'icon-face', :align=>"absmiddle"%>
        </div>
      <% end %>
			</div>
		</div>
</div></div></div>
</div></div></div></div>
