<%= stylesheet_link_tag 'test' %>
<%= javascript_include_tag 'textboxlist' %>
<%= javascript_include_tag 'game' %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body canvas_wrap s_clear">
    <div class="canvas_m">
      <div class="canvas_c">
				<h1 class='app-vgame'>推荐游戏</h1>
        <div class="box02 canvas_con">
          <div class="formComposer">
						<div class="multibox">
            <div class="title">你想玩什么样的游戏?</div>
            <div class="feed-box">
                 想玩最新最热的游戏？记不清楚游戏名称？<br />
                 点击关键字，系统会自动帮你推荐合适的游戏
            </div>
						</div>
            <div class="formcontent" style="padding-top:0">
              <div class="s_clear">
                <div class="fldvalue">
                  <div class="selector selector03 select-toggle s_clear">
                    <%= text_field_tag 'tags', '点击关键字词,支持多个关键字词', :id => 'game_tags', :class=>"textfield", :style =>"width: 350px" %>
                    <div id='game_tag_list' class='drop-menu' style="display:none"></div>
                  </div>
                </div>
                <div class="fldbtn">
                  <span class="button"><span><button type="reset" onclick="Iyxzone.Game.Suggestor.suggest(this)">推荐</button></span></span>
                  <%= link_to_function "高级", "Iyxzone.Game.Suggestor.toggleAdvancedOptions();" %>
                </div>
              </div>
              <div class="rows s_clear" id="advanced_options" style="display:none">
                <div class="fldid">比较新的游戏</div>
                <div class="fldvalue"><%= check_box_tag 'new_game', 1, true %></div>
              </div>
            </div>
            <div class="multibox">
              <div class="title">
                <b>关键词</b>
              </div>
              <div class="impress-show s_clear space">
                <% @game_tags.each do |tag| %>
                  <%= link_to_function "<span>#{tag.name}</span>", "Iyxzone.Game.Suggestor.addTag('#{tag.name}')", :class => "impress-0" %>
                <% end %>
              </div>
            </div>
            <div class="multibox" id='game_suggestion_area'>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="rightsidebar" class="canvas_r">
      <div class="multibox">
        <div class="title">
          <%= link_to "更多", interested_games_url(:id => current_user.id) %>
          <b>我关注</b>
        </div>
        <div class="chart-list chart-list01 menu-list">
          <ul id='my_attentions'>
            <% @interested_games.each_with_index do |g, i| %>
              <li><%= game_link g %><span><%=g.sale_date%></span></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="multibox">
        <div class="title">
          <%= link_to "更多", hot_games_url %>
          <b>关注榜</b>
        </div>
        <div class="chart-list chart-list01 menu-list">
          <ul>
            <% @game_list.each_with_index do |g, i| %>
              <li><%= game_link g %><span><%=g.attentions_count %></span></li>
            <% end %>
          </ul>
        </div> 
      </div>
      <% unless @beta_games.blank? %>
      <div class="multibox">
        <div class="title">
          <%= link_to "更多", beta_games_url %>
          <b>近期测试</b>
        </div>
        <div class="chart-list menu-list">
          <ul>
            <% @beta_list.each_with_index do |g, i| %>
              <li><%= game_link g %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div></div>
</div></div></div></div>

<%= javascript_tag "Iyxzone.Game.Suggestor.prepare(); " %>

