<% delivery = album_feed_delivery %>
<% album = delivery.feed_item.originator %>
<% photos = album.photos.find(delivery.feed_item.data[:ids]) %>
<% poster = photos.first.poster %>
<% type = photos.first.class.name.underscore %>

<div class="feed-list-box">
  <div class="feed-list">
    <div class="img left">
      <%= avatar poster, :class => 'imgbox01' %>
    </div>
    <div class="jl-list-con jl-cutline">
      <%= profile_link poster %>> 上传了 <%= photos.count %>张照片 到相册 <%= album_link album, :class => "shine" %>
      <ul class="s_clear" id="roll-photo">
        <li><a class="roll-left" id='slide_left_btn_<%= delivery.id %>'></a></li>
        <div id='slide_<%= delivery.id %>'>
        <% 5.times do |i| %>
          <li></li>
        <% end %>
        </div>
        <li><a class="roll-right" id='slide_right_btn_<%= delivery.id %>'></a></li>
      </ul>
      <span class="gray">
        <%= ftime delivery.created_at %> - <%= link_to_function "评论", "Iyxzone.Comment.showForm('album', #{album.id}, null)" %>
      </span> 
      <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => album, :recipient => album.poster} %>
    </div>
  </div>
</div>

<% photo_ids = array_or_string_for_javascript photos.map(&:id) %>
<% urls = array_or_string_for_javascript photos.map {|p| p.public_filename(:medium)} %>
<%= urls %>
<%= javascript_tag "
  new Iyxzone.Photo.Slide2('#{type}', #{photo_ids}, #{urls}, $('slide_#{delivery.id}').childElements(), $('slide_left_btn_#{delivery.id}'), $('slide_right_btn_#{delivery.id}'));
" %>
