<% delivery = friendship_feed_delivery %>
<% friendship_feed = delivery.feed_item %>
<% friendship = friendship_feed.originator %>
<% if friendship_feed.data[:friend] == friendship.user_id  %>
	<% user = friendship.user %>
	<% friend = friendship.friend %>
<% else %>
	<% user = friendship.friend %>
	<% friend = friendship.user %>
<% end %>
<div class="feed-list-box">
<div class='feed-list' id='feed_delivery_<%= delivery.id %>'>
	<div class="s-img left">
		<div class="imgbox01"><%= avatar User.find(friendship_feed.data[:friend]), :size => "small" %></div>
	</div>
	<div class="jl-list-con jl-cutline"><%= profile_link user %> 和 <%= profile_link friend %> 成为了好朋友 <%= ftime delivery.created_at %>
	<% if delivery.is_deleteable_by? current_user %><%= link_to_remote "", :url => feed_delivery_url(delivery), :method => :delete, :html=>{ :class => "icon-active"} %><% end %> 
	<span class="gray"><%= ftime delivery.created_at %></span>
	</div>
</div>	
</div>
