<table cellpadding="0">
  <% unless @photos.blank? %>
  <% @photos.each do |photo| %>
  <tr id='photo <%= photo.id %>'>
	<td><div><%= link_to photo.filename, admin_photo_url(:id => photo.id) %></div></td>
  <td><%= photo.type %></td>
	<td><%= photo.updated_at %></td>
    <td>
      <%= link_to_remote '审查通过', :url => verify_admin_photo_url(photo), :method => :put %>
    </td>
	<td>
      <%= link_to_remote '屏蔽', :url => unverify_admin_photo_url(photo), :method => :put %>
    </td>
    
  </tr> 
  <% end %>
 
  <% end %>
</table>
<%= will_paginate @photos, :renderer => "RemoteLinkRenderer", :remote => @remote %>
