<% wall = wall_message.commentable %>
<% type = wall.class.to_s.underscore %>
<div class="feed-img-list" id='comment_<%= wall_message.id %>' style="display:none">
  <div class="feed-list">
  <div class="feed-img"><%= avatar wall_message.poster, :class => 'imgbox01' %></div>
    <p>
      <%= profile_link wall_message.poster %> 
      <%= ftime wall_message.created_at %>
      <% if wall.is_commentable_by? current_user %>
        <%= link_to_function '回复', "Iyxzone.WallMessage.set('#{wall_message.poster.login}');" %>
      <% end %>
  <% if wall_message.is_deleteable_by? current_user %>
    <%= link_to_remote '', :url => wall_message_url(wall_message), :method => :delete, :html => {:class => 'right icon-active'} %>
  <% end %>
    </p>
    <p><%= wall_message.content  %></p>
  </div>
</div>

