<tr id='video_<%= video_item.id %>'>
  <td class='title'><%= video_link video_item %></td>
  <td class='time'><%= ftime video_item.created_at %></td>
  <% if @user == current_user %>
    <td class="icon"><%= link_to "编辑", edit_video_url(video_item), :class => "icon-active icon-active-edit" %></td>
    <td class="icon"><%= facebox_confirm '', video_url(video_item), {:msg => "你确定要删除这个视频吗?", :method => :delete}, {:class => 'icon-active'}%></td>
    <% end %>
    <td class="right"><%= facebox_link "分享", new_sharing_url(:shareable_type => 'Video', :shareable_id => video_item.id, :id => current_user.id), {:class => "share-btn"}%></td>
</tr>
