<%= stylesheet_link_tag 'test' %>
<%= javascript_include_tag 'textboxlist' %>
<%= javascript_include_tag 'nicEdit' %>
<%= javascript_include_tag 'video' %>
<%= javascript_include_tag 'friend' %>

<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-video">视频</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right"><%= link_to "新视频", new_video_url %></div>
        <ul>
          <li><span><%= link_to "热门视频", hot_videos_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "我的视频", videos_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "我的相关视频", relative_videos_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "好友的视频", friends_videos_url %>
        </ul>
      </div>
      <div class="appcontent01">
				<div class="cons-form formcontent">
          <%= error_messages_for :video, :header_message => '遇到以下问题，没法成功保存', :message => nil %>
          <% form_for :video, :url => videos_url, :html => {:id => 'video_form'} do |f| %>
            <div class="rows s_clear">
		    			<div class="fldid"><%= f.label "视频标题：" %></div>
				    	<div class="fldvalue"><div class='textfield'><%= f.text_field 'title' %></div></div>
				    </div>
				    <div class="rows s_clear">
      				<div class="fldid"><%= f.label '连接地址：' %></div>
			      	<div class="fldvalue"><div class='textfield'><%= f.text_field 'video_url', :id => 'video_url' %></div></div>
		    		</div>
				    <div class="rows s_clear">
      				<div class="fldid"><%= f.label '视频简介：' %></div>
			      	<div class="fldvalue"><%= f.text_area 'description' %></div>
		    		</div>
		    		<div class="rows s_clear">
					    <div class='fldid'><%= f.label "游戏类别:" %></div>
              <div class='fldvalue'><%= f.collection_select 'game_id', current_user.games, :id, :name, {:prompt => '---'}, :class=>"selector selector02" %></div>
					  </div>
					  <div class="rows s_clear">
      				<div class='fldid'><%= f.label "浏览权限:"%></div>
              <div class='fldvalue'><%= privilege_select_tag(:video, :class=> "selector selector02") %></div>
					  </div>
    				<div class='rows s_clear'>
		  			  <div class="fldid">添加相关好友：</div>
					    <div class='fldvalue'>
                <%= render :partial => 'user/friend_tags/control_panel', :locals => {:taggable => @video} %>
              </div>
						</div>
            <div class='rows s_clear'>
							<div class='fldid'>&nbsp;</div>
              <div class='fldvalue'><span class='button03 w-l'><span><%= button_to_function "保存", "Iyxzone.Video.Builder.save(this, event)", :class => "confirm-button" %></span></span></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div></div>
</div></div></div></div>

<%= javascript_tag "
  Iyxzone.Video.Builder.tagBuilder = new Iyxzone.Friend.Tagger(10, [], [], [], 'toggle_button', 'friend_login', 'friend_list', 'friend-wrap', 'friend_items', 'game_selector', 'confirm_btn', 'cancel_btn'); 
" %>
