<%= stylesheet_link_tag 'common' %>
<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'rating' %>
<%= javascript_include_tag 'register' %>
<%= javascript_include_tag 'game' %>
<div class="regist-box">
  <div class="regist-content">
    <div class="logo png">欢迎您！这里是您的互动家园！</div>
      <div class="help">
        <div class="prompt">快速注册</div>请写您的基本信息，这样能帮助您找到更多身边的战友。
      </div>
      <div class="sperator"></div>
      <% form_for :user, :html => {:id => 'register_form'} do |f| -%>
        <%= hidden_field_tag 'token', params[:token] %>
        <div class="formcontent">
          <div class="rows s_clear">
            <div class="fldid"><label for="mail">邮箱：</label></div>
            <div class="fldvalue">
              <div class="textfield"><%= f.text_field :email, :onblur => "Iyxzone.Register.validateEmail()", :onfocus => "Iyxzone.Register.showEmailRequirement();" %></div>
            </div>
            <span class='' id='email_info'></span>
          </div>
          <div class="rows s_clear">
            <div class="fldid"><label for="mail">昵称：</label></div>
            <div class="fldvalue">
              <div class="textfield"><%= f.text_field :login, :onblur => "Iyxzone.Register.validateLogin()", :onfocus => "Iyxzone.Register.showLoginRequirement();" %></div>
            </div>
            <span class='' id='login_info'></span>
          </div>
          <div class="rows s_clear">
            <div class="fldid"><label for="mail">密码：</label></div>
            <div class="fldvalue">
              <div class="textfield"><%= f.password_field :password, :onblur => "Iyxzone.Register.validatePassword()", :onfocus => "Iyxzone.Register.showPasswordRequirement();"%></div>
            </div>
            <span class='' id='password_info'></span>
          </div>
          <div class="rows s_clear">
            <div class="fldid"><label for="mail">确认密码：</label></div>
            <div class="fldvalue">
              <div class="textfield"><%= f.password_field :password_confirmation, :onblur => "Iyxzone.Register.validatePasswordConfirmation()", :onclick => "Iyxzone.Register.showPasswordConfirmRequirement()" %></div>
            </div>
            <span class="" id='password_confirmation_info'></span>
          </div>
          <div class="rows s_clear">
            <div class="fldid"><label>性别：</label></div>
            <div class="fldrd"><%= f.radio_button 'gender', 'male' %></div>
            <div class="fldrdvalue"><label for="man">男</label></div>
            <div class="fldrd"><%= f.radio_button 'gender', 'female' %></div>
            <div class="fldrdvalue"><label for="woman">女</label></div>
          </div>
          <div class="rows s_clear">
            <div class="fldid"></div>
            <div class="fldvalue"></div>
          </div>
          <div class="help">
            <div class="prompt">游戏信息</div>你必须添加你玩过的游戏角色（至少一个）以完成注册
          </div>
          <div class='sperator'></div>
          <div class='edit-toggle space edit'>
            <div class="formcontent con">
              <div class='item space' id='characters'>
                <div id='character_0'>
                  <% fields_for "profile[new_characters][0]", GameCharacter.new do |c| %>
                  <div class="rows s_clear">
                    <div class="fldid"><label>人物昵称：</label></div>
                    <div class="fldvalue">
                      <div class="textfield" style="width: 100px"><%= c.text_field :name, :onblur => "Iyxzone.Register.isCharacterNameValid(0)" %></div>
                    </div>
                    <span class="red" id='character_0_name_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label>级别：</label></div>
                    <div class="fldvalue">
                      <div style="width: 100px;" class="textfield"><%= c.text_field :level, :onblur => "Iyxzone.Register.isCharacterLevelValid(0)" %></div>
                    </div>
                    <span class="red" id='character_0_level_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label for="inbox">游戏：</label></div>
                    <div class="fldvalue">
                      <%= c.collection_select :game_id, @games, :id, :name, {:prompt => '---'} %>
                    </div>
                    <span class='red' id='character_0_game_id_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label for="inbox">区域：</label></div>
                    <div class="fldvalue">
                      <%= c.collection_select :area_id, [], :id, :name, {:prompt => '---'} %>
                    </div>
                    <span class='red' id='character_0_area_id_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label for="inbox">服务器：</label></div>
                    <div class="fldvalue">
                      <%= c.collection_select :server_id, [], :id, :name, {:prompt => '---'} %>
                    </div>
                    <span class='red' id='character_0_server_id_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label for="inbox">种族：</label></div>
                    <div class="fldvalue">
                      <%= c.collection_select :race_id, [], :id, :name, {:prompt => '---'} %>
                    </div>
                    <span class='red' id='character_0_race_id_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label for="inbox">职业：</label></div>
                    <div class="fldvalue">
                      <%= c.collection_select :profession_id, [], :id, :name, {:prompt => '---'} %>
                    </div>
                    <span class='red' id='character_0_profession_id_error'></span>
                  </div>
                  <div class="rows s_clear">
                    <div class="fldid"><label>正在玩：</label></div>
                    <div class="fldvalue">
                      <%= c.check_box 'playing' %>
                    </div>
                  </div>
                  <% end %>
                  <p class="foot s_clear"><%= link_to_function "删除本游戏角色", "Iyxzone.Register.removeCharacter(0)", :class => 'right red' %></p>
                  <%= javascript_tag "Iyxzone.Register.addGameSelector(#{array_or_string_for_javascript @games.map(&:pinyin).insert(0, '---')}, 0, null)" %>
                </div>
              </div>
              <p class="foot s_clear"><%= link_to_function "增加新的游戏角色", "Iyxzone.Register.newCharacter(event)", :class => 'left red' %></p>
            </div>
          </div>
          <div class="seperator"></div>
          <div class="btn-rows">
            <table class="center">
              <tr><td><%= button_to_function '', "Iyxzone.Register.submit(event)", :type => "submit", :class => "registbtn png" %></td></tr>
            </table>
          </div>
          <div class="rows">
            <table class="center">
              <tr><td>
                <div class="fldcb"><%= check_box_tag 'agree_contact', 1, false %></div>
                <div class="fldvalue"><label for="allow" class="simple gray">同意ady3用户发布<a href="#">信息协议</a></label></div>
              </td></tr>
            </table>
          </div>
          
        </div>
      <% end %>
    </div>
    <div class='b'></div>
  </div>
</div>
