<li id='friend_suggestion_<%= nicer_friend_suggestion.id %>' suggestion_id=<%= nicer_friend_suggestion.id %>>
<% f = nicer_friend_suggestion.suggested_friend %>
<%= avatar f, :size => :medium, :class => "imgbox01" %>
<p><strong class='red'><%= profile_link f %></strong></p>
	<%= link_to_function '', "Iyxzone.Friend.NicerSuggestor.newSuggestion(#{nicer_friend_suggestion.id}, '#{form_authenticity_token}')", :class => 'right icon-active icon-active-del' %>
<br/>
<%= facebox_link "<span class='icon-friend02'></span>加为好友", new_friend_request_url(:friend_id => f.id), :class => "red" %>
</li>
