<div class="feed-img-list" id='status_<%= status.id %>'>
  <div class="feed-list">
    <div class="feed-img"><%= avatar status.poster, :class => 'imgbox01' %></div>
    <div class="feed-header">
    <% if current_user == status.poster %>
      <%= facebox_confirm '', status_url(status), {:method => :delete, :msg => '你确定要删除这条状态吗?'}, {:class => 'icon2-close right', :id => "delete_status_#{status.id}"} %>
    <% end %>
      <p><%= profile_link status.poster %>：<%= status.content %><% if @user != current_user%>(<%= link_to "更多", statuses_url(:id => status.poster_id) %>)<% end %></p>
    </div>
    <div class="feeds"><%= ftime status.created_at %> <%= link_to_function "#{status.comments_count}条回复", "Iyxzone.Comment.toggleBox('status', #{status.id}, this, #{status.comments_count})" %></div>
  <div id='status_comment_box_<%= status.id %>' style="display:none">
    <%= render :partial => 'user/comments/folded_comment_box', :locals => {:commentable => status, :recipient => status.poster} %>
  </div>
  </div>
</div>
