<h1>标签内容：</h1>
<div style="padding: 20px 0 20px 20px;">
<%= @tag.name %>
</div>

<h1>标签类型：</h1>
<div style="padding: 20px 0 20px 20px;">
  <%= @tag.taggable_type %>
</div>

<tr id='tag <%= @tag.id %>'>
<td>
	<% if @tag.verified == 0 || @tag.verified == 2 %>
		<%= link_to_remote '审核通过', :url => verify_admin_tag_url(@tag), :method => :put %>
	<% end %>
</td>
<td>
	<% if @tag.verified == 0 || @tag.verified == 1 %>
		<%= link_to_remote '屏蔽', :url => unverify_admin_tag_url(@tag), :method => :put %>
	<% end %>
</td>
</tr> 