<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-vote">投票</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right"><%= link_to "新投票", new_poll_url %></a></div>
        <ul>
          <li class='hover'><span><%= link_to "热门投票", hot_polls_url %></span></li>
          <li><span><%= link_to "我的投票", polls_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "朋友的投票", friends_polls_url %></span></li>
        </ul>
      </div>
      <div class="vote-box">
        <div class="nav-link">
          <ul class="s_clear">
            <li class='hover'><%= link_to "<span>人气最高</span>", hot_polls_url %></li>
            <li><%= link_to "<span>最新创建</span>", recent_polls_url %></li>
          </ul>
        </div>
        <% if @polls.total_entries != 0 %>
          <%= render :partial => 'poll_items', :object => @polls %>
          <%= will_paginate @polls %>
        <% else %>
          <div class='gray'>还没任何投票，赶快<%= link_to '创建一个', new_poll_url %>吧</div>
        <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
