<div class="detail-blog">
  <div class="detail-blog-head jl-cutline s_clear">
    <p class="left">
      <strong><%=@news.title%></strong> <span class="gray"><%=ftime @news.created_at%>&nbsp;&nbsp;&nbsp;&nbsp;<strong>类型：</strong><%=@news.news_type%>新闻</span>
    </p>
    <p class="right">
      <%= facebox_link "分享", new_sharing_url(:shareable_type => 'News', :shareable_id => @news.id), :class => 'share-btn' %>
    </p>
  </div>
  <div class="con">
    <%=@news.data%>
  </div>
  <div class="detail-blog-foot s_clear">
    <h2 class="gray">相关游戏：<%=link_to game_link Game.find_by_id(@news.game_id) %>
    <% if @news.origin_addr != nil %>
      <h2 class="gray">本帖转自：<%=@news.origin_addr %></h2>
    <% end %>
    <div class="foot cmt-space feed-list">
      <p class="jl-cutline"></p>
      <p class="red"><span class="red w-l">评论(<%=@news.comments_count%>)</span><span class="w-l">|</span><span class="red w-l">浏览(<%=@news.viewings_count%>)</span><span class="w-l">|</span><span class="photo-op-praise"><%=link_to_remote '赞一下', :url =>digs_url("dig[diggable_type]" => @news.class.base_class.to_s, "dig[diggable_id]" => @news), :html => {:id=>"digging_#{@news.class.to_s.underscore}_#{@news.id}", :class => "red"}%></span><span class="w-l">(<span id="dig_<%=@news.class.to_s.underscore%>_<<%=@news.id%>"><%=@news.digs_count%></span>)</span><span class="icon-heart"></span><%= facebox_link "分享到我的主页", new_sharing_url(:shareable_type => 'News', :shareable_id => @news.id) %><span class="w-l">(<%=@news.sharings_count%>)</span></p>
      <%= render :partial => 'user/comments/comment_box', :locals => { :commentable => @news, :recipient => @news.poster} %>
    </div>
    <div class="prompt-list-box">
      <h5>随便看看</h5>
      <div class="list-box box04">
        <ul class="lister02">
          <li><a href="#">llllllllllllllllllllllll</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
