<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
    <h1 class="app-photo">照片</h1>
    <div class="box02 canvas_int">
      <div class="tab tab01">
        <div class="right">
          <%= link_to "上传照片", select_personal_albums_url %>
          <%= facebox_link "新建相册", new_personal_album_url %>
        </div>            
        <ul>                  
          <li><span><%= link_to "热门照片", hot_personal_photos_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to '最新照片', recent_personal_albums_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "我的相册", personal_albums_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to '好友相册', friends_personal_albums_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "圈了我的照片", relative_personal_photos_url(:id => current_user.id) %></span></li>
        </ul>
      </div>
      <div class="photo-box">
        <% form_tag update_multiple_personal_photos_url(:album_id => @album.id), :method => :put do %>
        <% @photos.each do |p| %>
        <% fields_for 'photos[]', p do |f| %>        
        <div class="photo-list box04 s_clear">
          <div class="form-wrap">
            <div class="formcontent">
              <div class="rows s_clear">
                <div class="fldid"><label for="desc1">描述：</label></div>
                <div class="fldvalue"><%= f.text_area :notation %></div>
              </div>
              <div class="rows s_clear">
                <div class="fldid">封面：</div>
                <div class="fldrd"><%= radio_button_tag 'cover_id', p.id, false %></div>
                <div class="fldrdvalue"><label for="r1">设为专辑封面</label></div>
              </div>
            </div>
          </div>
          <div class="img">
            <p><%= image_tag p.public_filename(:large), :class => 'imgbox01', :width => '76px', :height => '85px' %></p>
            <div>
              <table class="center" cellpadding="0">
                <tr>
                  <td>
                    <a class="left" href="#">左旋</a>
                    <a class="right" href="#">右旋</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      <% end %>
      <% end %>
        <div class="buttons s_clear">
          <table class="center" cellpadding="0">
            <tr><td>
              <span class="button"><span><button type="submit">保存修改</button></span></span>
            </td></tr>
          </table>
        </div>
      <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
