<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
	<div class="round_m"><div class="round_body">
	<% if @user==current_user %>
    <h1 class="app-photo">照片</h1>
	<% else %>
    <div class="friend-head space s_clear">
      <span class="left"><%= avatar @user, :class=>"imgbox01"%></span>
      <p class="left">
        <strong><%= @user.login %>的照片</strong><br />
        <%= link_to '个人主页', profile_url(@user.profile), :class=>'red'%>
      </p>
    </div>
	<% end %>
		<div class="box02 canvas_int">
			<div class="tab tab01">
				<% if @user == current_user %>
				<div class="right">
					<%= link_to "上传照片", select_personal_albums_url(:id => @user.id) %>
					<%= link_to "新建相册", new_personal_album_url, :rel => 'facebox' %>
        </div>
				<% end %>
        <ul>
					<% subject = get_subject @user %>
          <li><span><%= link_to "热门照片", hot_personal_photos_url(:id => @user.id) %></span></li>
          <li><span><%= link_to "#{subject}的相册", personal_albums_url(:id => @user.id) %></span></li>
          <li class='hover'><span><%= link_to "圈了#{subject}的照片", relative_personal_photos_url(:id => @user.id) %></span></li>
					<% if @user == current_user %>
						<li><span><%= link_to '好友相册', friends_personal_albums_url(:id => @user.id) %></span></li>
					<% end %>
        </ul>				
			</div>
      <div class="pic-box">
        <table class="photo-edit-list">
				<% k = @photos.size/4 %>
        <% if @photos.total_entries != 0 %>
				<% 0.upto(k) { |i| %>
				<% if k == i%>
					<% n = @photos.size % 4 - 1 %>
				<% else %>
					<% n = 3 %>
				<% end %>
				<% j = i*4 %>
				<tr>
        <% @photos[j..j+n].each do |p| %>                         
          <td valign="bottom" width=25%>
            <%= photo_link p, :class => 'imgbox02' %>
					</td>
				<% end %>
				<% if n < 3 %>
					<% n.upto(2){ %>
						<td valign="bottom" width=25%></td>
					<% } %>
				<% end %>
				</tr>
        <% if @album.poster == current_user %>
					<tr>
					<% @photos[j..j+n].each do |p| %>                         
						<td><%= facebox_link "", edit_personal_photo_url(p), :class => "icon-active icon-active-edit" %> | <%= facebox_confirm '', personal_photo_url(p), {:msg => '你确定要删除这张图片吗', :method => 'delete', :class => "icon-active"} %></td>
					<% end %>
				<% if n < 3 %>
					<% n.upto(2){ %>
						<td></td>
					<% } %>
				<% end %>
					</tr>
        <% end %>
        <% } %>
        <%= will_paginate @photos %>
        <% else %>
					<div class='gray'>还没有圈了你的图片，赶紧自己去圈吧</div>
        <% end %>
				</table>
      </div>
      </div>
    </div>
	</div></div>
</div></div></div></div>

