<% type = comment.commentable.class.name.underscore %>
<div class="box04 word-box" id='comment_<%= comment.id %>'>
	<div class="img"><%= avatar comment.poster, :size => :small %></div>
  <div class="word">
    <p><%= profile_link comment.poster %> <span><%= ftime comment.created_at %> -</span> <%= link_to_function '回复', "Iyxzone.Comment.showForm('#{type}', #{comment.commentable.id}, '#{comment.poster.login}')" %></p>
    <p><%= comment.content %></p>
  <% if comment.is_deleteable_by? current_user %>
    <%= link_to_remote '', :url => comment_url(comment), :method => :delete, :html =>{ :class => 'icon-active'} %>
  <% end %>
  </div>
</div>
