<% requests.each do |request| %>
<div class='friend' id='event_request_<%= request.id %>'>
  <%= avatar request.participant %>
  <div class='user-link'>
    <%= profile_link request.participant %><br/>
  </div><br/>
	<div>
		请求加入活动<%= event_link request.event %>	
	</div>
  <div class='operation' id='event_request_operation_<%= request.id %>'>
	<% if @user == current_user %>
    <%= link_to_remote '接受', :url => accept_event_request_url(@event, request), :method => :put  %> |
    <%= facebox_confirm '拒绝', decline_event_request_url(@event, request), {:msg => '你确定要决绝这个人加入的请求吗?', :method => :delete} %>
  <% end %>
	</div>
</div>
<% end %>
