<% poll = comment.commentable %>
<% if home_page %>
<% link = "#{link_to_function poll.name, "Iyxzone.Home.NoticeManager.read(#{notice.id}, '#{form_authenticity_token}'); window.open('/polls/#{poll.id}?reply_to=#{comment.poster_id}');"}" %>
<% else %>
<% link = "#{link_to_function poll.name, "window.open('/polls/#{poll.id}?reply_to=#{comment.poster_id}');"}" %>
<% end %>
<li>
	<div class="feed-message">
    <% if home_page %>
		<%= link_to_function '', "Iyxzone.Home.NoticeManager.read(#{notice.id}, '#{form_authenticity_token}')", :class => 'icon-active' %>
		<% end %>
    <% if notice.data == 'comment' %>
			<%= profile_link comment.poster %> 评论了你的投票 <%= link %>
		<% elsif notice.data == 'reply' %>
			<%= profile_link comment.poster %> 在投票 <%= link %> 回复了你
		<% end %> 		
	</div>
</li>
