<h1>标题：</h1>

<div style="padding: 20px 0 20px 20px;">
<%= @blog.title %>
</div>

<h1>内容：</h1>

<div style="padding: 20px 0 20px 20px;">
<%= @blog.content %>
</div>

<tr id='blog <%= @blog.id %>'>
<td>
	<% if @blog.verified == 0 || @blog.verified == 2 %>
		<%= link_to_remote '审核通过', :url => verify_admin_blog_url(@blog), :method => :put %>
	<% end %>
</td>
<td>
	<% if @blog.verified == 0 || @blog.verified == 1 %>
		<%= link_to_remote '屏蔽', :url => unverify_admin_blog_url(@blog), :method => :put %>
	<% end %>
</td>
</tr> 

