<table cellpadding="0">
  <% unless @videos.blank? %>
  <% @videos.each do |video| %>
  <tr id='video <%= video.id %>'>
	<td><div><%= link_to video.title, admin_video_url(:id => video.id) %></div></td>
	<td><%= video.video_url %></td>
    <td><%= video.updated_at %></td>
    <td>
      <%= link_to_remote '审查通过', :url => verify_admin_video_url(video), :method => :put %>
    </td>
	<td>
      <%= link_to_remote '屏蔽', :url => unverify_admin_video_url(video), :method => :put %>
    </td>
    
  </tr> 
  <% end %>
 
  <% end %>
</table>
<%= will_paginate @videos, :renderer => "RemoteLinkRenderer", :remote => @remote %>
