<div id="canvas" class="round_r_t"><div class="round_l_t"><div class="round_r_b"><div class="round_l_b">
  <div class="round_m"><div class="round_body">
	<% if @user==current_user %>
    <h1 class="app-photo">照片</h1>
	<% else %>
    <div class="friend-head space s_clear">
      <span class="left"><%= avatar @user, :class=>"imgbox01"%></span>
      <p class="left">
        <strong><%= @user.login %>的照片</strong><br />
        <%= link_to '个人主页', profile_url(@user.profile), :class=>'red'%>
      </p>
    </div>
	<% end %>
    <div class="box02 canvas_int">
	    <div class="tab tab01">
		    <% if current_user == current_user %>
		    <div class="right">
		      <%= link_to "上传照片", select_personal_albums_url(:id => current_user.id) %>
		      <%= link_to "新建相册", new_personal_album_url, :rel => 'facebox' %>
        </div>
		    <% end %>
        <ul>
			    <% subject = get_subject current_user %>
          <li><span><%= link_to "热门照片", hot_personal_photos_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "#{subject}的相册", personal_albums_url(:id => current_user.id) %></span></li>
          <li><span><%= link_to "圈了#{subject}的照片", relative_personal_photos_url(:id => current_user.id) %></span></li>
					<% if @user==current_user %>
						<li><span><%= link_to '好友相册', friends_personal_albums_url(:id => current_user.id) %></span></li>
					<% end %>
        </ul>				
	    </div>
      <div class="box02 appcontent01">
        <div class="nav-link">
          <ul class="s_clear">
            <li><%= link_to "<span>人气最高</span>", hot_personal_photos_url(:id => @user.id) %></li>
            <li class='hover'><%= link_to "<span>最新创建</span>", recent_personal_albums_url(:id => @user.id) %></li>
          </ul>
        </div>
        <% if @albums.total_entries != 0 %>
        <h3>最近共更新 <span><%= @albums.total_entries %></span> 个专辑</h3>
        <div class="piclist-rows">
          <table class='big' cellpadding="0" cellspacing="1">
            <% @albums.each do |album| %>
            <tr>
              <td>
                <div class="imgwrap">
                    <%= album_cover album, :size => :large, :class => 'imgbox01' %>
                </div>
                <div class="data">
                  <h3><%= profile_link album.poster%>的<%= album_link album %>共<span><%= album.photos_count %></span>张</h3>
                  <p>创建于<%= ftime album.created_at %></p>
                  <p>更新于<%= ftime album.uploaded_at %></p>
                </div>
              </td>
            </tr>
            <% end %>
					</table>
          <%= will_paginate @albums %>
        </div>
        <% else %>
          <div class='gray'>最近大家都没有更新什么相册，你赶紧上传些图片吧</div>
        <% end %>
      </div>
    </div>
  </div></div>
</div></div></div></div>
